{{> head}}
<body>
    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In nostrum architecto hic sunt quo, sit voluptatibus ex nobis alias ipsum culpa quidem maiores quia debitis! Eveniet atque eius dicta voluptas?
        </div>
        <div class="col-4">
            <img src="/assets/images/kubernetes.jpg" class="img-thumbnail" />
        </div>

    </div>
      
    {{> footer}}
</body>
</html>